node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
CODE_OF_CO
.vscode
dialog.sh
docker-builder.sh
ai-user-linux.dockerapp
hack/*
render/*